/* Sidebar */
.sidebar {
  width: 250px;
  height: 92vh; /* Increased height */
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 35px;
  border-color: aqua;

  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  position: fixed; /* Changed from relative to absolute */
  left: -15px; /* Ensure it starts from the left */
  top: 9vh; /* Align it at the top of the container */
  border: 1px solid rgb(188, 188, 188);
  z-index: 3;
}

/* Navigation Section */
.navSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  color: black;
  padding-top: 1px;
}

/* Log Out Section */
.logOutSection {
  margin-top: -35px;
  padding-top: 30px;
}

/* Navigation Links */
/* Default Border Color */
.navLink {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease, border-top 0.3s ease;
}

/* Hover Effects with Different Border Colors */
.navLink:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid blue;
}

#pS:hover {
  border: 1px solid rgb(13, 191, 255);
  border-top: 8px solid rgb(26, 183, 255); /* Profile Section */

}

#taskManagement:hover {
  border: 1px solid rgb(120, 255, 47);
  border-top: 8px solid rgb(120, 255, 47); /* Tasks Management */

}

#productivity:hover {
  border: 1px solid rgb(255, 116, 10);
  border-top: 8px solid rgb(255, 116, 10); /* Productivity */

  
}

#history:hover {
  border: 1px solid rgb(80, 80, 80);
  border-top: 8px solid rgb(80, 80, 80); /* History */

}

#reports:hover {
  border: 1px solid rgb(250, 17, 207);
  border-top: 8px solid rgb(250, 17, 207); /* Reports */

}

#integrations:hover {
  border: 1px solid rgb(42, 255, 255);
  border-top: 8px solid rgb(42, 255, 255); /* Integrations */

}

#logOut:hover {
  border: 1px solid  rgb(255, 68, 0);
  border-top: 8px solid rgb(255, 68, 0); /* Log Out */


}

.sBIcons{
  margin-right: 10px;
  margin-top: 3px;


}