.App-header {
    background-color: #ffffff;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: white;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .headerPart{
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
    width: 1000px;

  }
  .nav-link{
    color: black;  
  }