.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#hero-section{
    color: rgb(207, 225, 255);
}
.btn-primary{
    background-color: #1053fd;
    color: white;
    box-shadow: 2px 2px 0px #0000004a;
    transition: all 0.3s ease;
}
.btn-outline-primary {
  color: white; /* Default text color */
  border: 1px solid white; /* Border color */
  box-shadow: 2px 2px 0px #0000004e; /* Optional: Add a shadow */
  background-color: transparent; /* Transparent background */
  transition: all 0.3s ease; /* Smooth transition */
}

.btn-outline-primary:hover {
  color: rgb(255, 255, 255); /* Text color on hover */
  background-color: rgb(184, 166, 166); /* Background color on hover */
  border-color: rgb(255, 255, 255); /* Optional: Change border color on hover */
}

.img{
    box-shadow: 5px 5px 0px #00000042;
}
