.userHomeContainer{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    height: 83vh;
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
    top:9.0vh;
    left: 0vw;
    z-index: 0;
    animation: gradient-animation 10s ease infinite;

}
  /* Gradient Animation */
    @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }

  