.register-container{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    height: 79vh;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .login{
    background-color: #f1efef;;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
  }
